// App.scss

// import config and component
@import './config';
@import './Modal';

// GLobal Styles
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif, Arial, Helvetica;
}

.form {
  height: fit-content;
  padding: 1rem;
  width: 400px;
  margin-top: 5rem;
  box-shadow: 0 0 9px #00000021;

  div {
    margin-bottom: 0.8rem;
  }
}

h1 {
  font-size: 20px;
  margin-top: 0;
  color: #4d4d4d;
}

// input style
input {
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  color: #747474;
  font-size: .875rem;
  position: relative;
  transition: all 200ms ease;
  width: 100%;

  &:hover, &:focus {
    border-color: #b2b2b2;
    outline: 0;
  }

  &::placeholder {
    color: #b2b2b2;
  }
}

// button style
.btn {
  background: $primary-color;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  transition: 350ms;
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0 0 7px #00000045;
  width: 100%;

  &:hover {
    background: $light-primary;
  }
}

.error {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 0.3rem;
}

.show {
  display: block!important;
}
